@import '~snazzy-info-window/dist/snazzy-info-window.css';
@import './styles/material_custom';
@import './styles/utilities';
@import './styles/overlays';
@import './styles/poi';

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  overflow: hidden;
  background: rgb(241, 241, 241);
}

#map {
  height: 100%;
  flex-grow: 1;
}

.p-16 {
  padding: 16px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.holder {
  height: 100%;
  display: flex;
}

.action-item {
  margin: 8px 0;
}

.polyline-cursor {
  cursor: pointer;
}

.sidebar-toggle {
  transition: transform 500ms ease;

  &.open {
    transform: rotateY(180deg);
  }
}

.card {
  background: white;
  margin: 16px 16px;
  display:flex;
  flex-direction: column;
  @include mat-elevation(1);
  
  .card-img-wrapper {
    max-height: 120px;
    overflow: hidden;
  }

  .card-img {
    width:100%;
  }
  .card-body {
    padding: 16px;
  }
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connector-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .circle {
    margin: 4px;
    fill: #b0bec5;
  }
}

.info-content {
  max-width: 350px;
  width: 100%;

  .info-station {
    display: none;
  }

  .info-h-img-wrapper {
    width: 100%;
    max-height: 280px;
    overflow: hidden;
  }

  .info-h-img {
    width: 100%;
  }

  .info-body {
    padding: 12px;
  }

  .info-w-wrapper {
    align-items: center;
    // border-right: 1px solid #eee;

    .info-w-icon {
      margin-right: 12px;
      width: 36px;
      height: 36px;
    }

    .info-temp {

    }
  }

  .weather-panel {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
  }
  
  .mat-toolbar-single-row {
    height: unset;
    margin-top: -5px !important;
    align-items: center;
  }

  .info-fullscreen {
    transform: scale(1);
    transition: transform 200ms;
    &:hover {
    transform: scale(1.2);
    }
  }

  .marker-delete {
    transform: rotateY(0);
    transition: transform 200ms;
    &:hover {
    transform: rotate(30deg);
    }
  }
}

.si-float-wrapper {
  z-index: 2001;
}

.si-content-wrapper {
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.si-content {
  min-width: 320px;

  padding: 0px;
}

.si-close-button {
  background: rgba(255, 255, 255, 0.3);
  color:rgba($color: #000000, $alpha: 0.6);
  border-radius: 100%;
  top: 5px;
  right: 5px;
  opacity: 1;
  font-size: 20px;
  padding: 0px 5px;
  transition: background-color 200ms;

  &:hover {
    opacity: 1;
    background-color: rgba($color: white, $alpha: 0.6)
  }
}

.snackbar-white {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.mat-drawer {
  background: rgba($color: white, $alpha: 0.95);
  border-right: 1px solid rgb(238, 238, 238);
  max-width: 80%;
}

.mat-tab-header {
  background: white;
}

div.mat-tab-label {
  padding: 12px;
  min-width: 140px;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.overview-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}