:host {
  width: 100%;
}

.info-panel-content {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.image-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-slider-wrapper {
  width: 1000%;
  overflow: hidden;
  display: flex;
  transition: transform 500ms ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.mat-icon-button {
  position: absolute;
  top:50%;
  margin-top: -16px;
  background-color: rgba(255, 255, 255, 0.849);
  width:32px;
  height: 32px;
  line-height: 32px;
  
  &.left {
    left: 16px;
    
  }

  &.right {
    right: 16px;
  }
}


