<div class="info-panel-content">
  <div class="image-slider">
    <div #slider class="image-slider-wrapper">
      <div class="slide" *ngFor="let s of hires">
        <img [src]="s">
      </div>
    </div>
    <button mat-icon-button class="left" (click)="slideLeft()"><mat-icon>chevron_left</mat-icon></button>
    <button mat-icon-button class="right" (click)="slideRight()"><mat-icon>chevron_right</mat-icon></button>

  </div>
</div>