<div class="holder">
    <mat-tab-group headerPosition="above">
      <mat-tab label="Overview">
        <div class="overview-wrapper">
          <ng-container *ngFor="let s of (segments$ | async); let i = index;">
            <div class="connector" *ngIf="i != 0">
              <div class="connector-line">
                <svg class="circle" width="10" height="10">
                  <circle cx="5" cy="5" r="3" stroke-width="0" />
                </svg>
                <svg class="circle" width="10" height="10">
                  <circle cx="5" cy="5" r="3" stroke-width="0" />
                </svg>
                <svg class="circle" width="10" height="10">
                  <circle cx="5" cy="5" r="3" stroke-width="0" />
                </svg>
                <svg class="circle" width="10" height="10">
                  <circle cx="5" cy="5" r="3" stroke-width="0" />
                </svg>
                <svg class="circle" width="10" height="10">
                  <circle cx="5" cy="5" r="3" stroke-width="0" />
                </svg>
              </div>
              <div class="connector-text">
                <div> {{ s.getDistLiteral() }}</div>
                <div> {{ s.getDurLiteral() }}</div>
              </div>
            </div>
            <div class="card">
              <div class="card-img-wrapper">
                <img class="card-img" [src]="(s.photos && s.photos.length > 0) ? s.photos[0] : ''" />
              </div>
              <div class="card-body">
                {{ s.place }}
              </div>
            </div>
          </ng-container>
          <!-- <div class="flex-spacer"></div> -->
        </div>
      </mat-tab>
      <mat-tab label="Places">
     </mat-tab>
      <!-- <mat-tab label="Weather"> Content 2 </mat-tab> -->
      <mat-tab label="Photos"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>