<div class="d-flex h-100">
  <div class="toolbar d-flex-column" [class.dark-theme]="darkTheme">
    <mat-button-toggle [checked]="sidebar.opened" mat-icon-button (click)="sidebar.toggle();" class="sidebar-toggle" [class.open]="sidebar.opened"
      [class.dark-theme]="darkTheme" matTooltip="Toggle Sidebar" matTooltipPosition="after">
      <mat-icon aria-label="main menu">fast_forward</mat-icon>
    </mat-button-toggle>

    <div class="vertical-spacer-2"></div>

    <mat-button-toggle-group vertical [(ngModel)]="tool" [class.dark-theme]="darkTheme">
      <mat-button-toggle value="pan" matTooltip="Pan (Esc)" matTooltipPosition="after">
        <mat-icon>pan_tool</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="marker" matTooltip="Add waypoints (Ctrl + M)" matTooltipPosition="after">
        <mat-icon>add_location</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="draw" matTooltip="Draw route. Note: Discontinued, will be removed" matTooltipPosition="after">
        <mat-icon>edit</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="add-photo" matTooltip="Upload photos. Note: Phase 2" matTooltipPosition="after">
        <mat-icon>add_a_photo</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="vertical-spacer-2"></div>
    <div class="vertical-spacer-2"></div>

    <mat-button-toggle [class.dark-theme]="darkTheme" [checked]="currentStart" (change)="currentStart = $event.source.checked"
      matTooltip="Start trip from my location" matTooltipPosition="after">
      <mat-icon>my_location</mat-icon>
    </mat-button-toggle>

    <div class="vertical-spacer-2"></div>
    <div class="vertical-spacer-2"></div>

    <mat-button-toggle-group [class.dark-theme]="darkTheme" vertical [(ngModel)]="mapView">
      <mat-button-toggle value="poi" matTooltip="POI View" matTooltipPosition="after">
        <mat-icon>map</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="nav" matTooltip="Navigation View" matTooltipPosition="after">
        <mat-icon>directions</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="vertical-spacer-2"></div>
    <div class="vertical-spacer-2"></div>

    <mat-button-toggle [class.dark-theme]="darkTheme" (change)="clearAll($event);" matTooltip="Clear travel plan" matTooltipPosition="after">
      <mat-icon>delete_forever</mat-icon>
    </mat-button-toggle>
    <div class="vertical-spacer-2"></div>
    <mat-button-toggle [class.dark-theme]="darkTheme" (change)="logout();" matTooltip="Logout" matTooltipPosition="after">
      <mat-icon>exit_to_app</mat-icon>
    </mat-button-toggle>
  </div>
  <div id="map"></div>
</div>

<div class="site-header" appOverlay="top">
  <img src="assets/trippy-trip-slim.jpg">
  <p>Welcome to trip, here are some hints to get you started. Happy Travels, stranger !</p>
  <!-- <h1 class="big-fuck-off-header">Trippey</h1> -->
</div>

<div appOverlay="bottom" class="hint">
  Hint: There's more than meet's the eye, zoom in to find more Points of Interest...
</div>

<ng-template #weatherTemplate let-segment>
  <div class="info-content">
    <div class="info-h-img-wrapper">
      <img class="info-h-img" [src]="segment?.photos?.length > 1 ? segment?.photos[0] : ''" />
    </div>
    <mat-toolbar color="primary">
      <div class="info-header">{{ segment?.place }}</div>
      <div class="flex-spacer"></div>
      <button class="info-fullscreen" mat-icon-button (click)="showOverlay(segment)"><mat-icon>fullscreen</mat-icon></button>
      <button class="marker-delete" mat-icon-button (click)="removeMarker(segment)"><mat-icon>delete_outline</mat-icon></button>
    </mat-toolbar>
    <div class="info-body">
      <div class="weather-panel">
        <div class="info-w-wrapper">
          <div class="">Now</div>
          <div class="d-flex">
            <img class="info-w-icon" [src]="segment?.weather?.current.icon" />
            <div>
              <div class="info-temp">{{ segment?.weather?.current.temp }} &deg; C </div>
              <div class="info-desc">{{ segment?.weather?.current.desc }}</div>
            </div>
          </div>
        </div>
        <div class="info-w-wrapper">
          <div class="">In {{ ToWords(segment?.getForecast()?.timestamp * 1000) }}</div>
          <div class="d-flex">
            <img class="info-w-icon" [src]="segment?.getForecast()?.icon" />
            <div>
              <div class="info"></div>
              <div class="info-temp">{{ segment?.getForecast()?.temp }} &deg; C </div>
              <div class="info-desc">{{ segment?.getForecast()?.desc }}</div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="segment.totalDistance">
        <div class="info-total-dist"> {{ segment?.getTotalDistLiteral() }} total</div>
        <div class="info-dist">{{ segment?.getDistLiteral() }} from previous marker </div>
        <div class="info-eta">Arrive by {{ (segment?.getETA() | date:'medium') }} </div>
        <div class="info-dur"> {{ segment?.getTotalDurLiteral() }} driving</div>
      </ng-container>
    </div>
  </div>
</ng-template>