@import '../../styles/material_custom';

$dark-btn-bg: rgb(50, 50, 50);
$dark-btn-fg: rgba(255, 255, 255, 0.918);
$dark-btn-checked-bg: rgb(17, 17, 17);
$dark-btn-checked-fg: mat-color($app-accent);

.mat-button-toggle-group, .mat-button-toggle {
  background: rgba(255, 255, 255, 1);
  transition: background-color 300ms ease;
  &.dark-theme {
    .mat-button-toggle, {
      background: $dark-btn-bg;
      color: $dark-btn-fg;
    }
  }
}

.mat-button-toggle.dark-theme  {
  background: $dark-btn-bg;
  color: $dark-btn-fg;
}

.mat-button-toggle-group, .mat-button-toggle-checked {
  background: mat-color($app-primary, 0.8);
  //color: mat-color($app-primary, '50-contrast');

  &.dark-theme {
    background: $dark-btn-checked-bg;
    color: $dark-btn-checked-fg;

    .mat-button-toggle-checked {
      background: $dark-btn-checked-bg;
      color: $dark-btn-checked-fg;
    }
  }

}

.mat-button-toggle-group, .mat-button-toggle-standalone {
  // box-shadow: none;
  border-radius: 0px;
}

.toolbar {
  @include mat-elevation(2);
  background: rgb(248, 248, 248);
  // border-left: 1px solid #eee;
  transition: background-color 300ms ease,
              border-color  300ms ease;
  z-index: 2;

  &.dark-theme{
    background: rgb(27, 27, 27);
  @include mat-elevation(4);
    // border-left: 0px;
  }
}
