@import '../../styles/material_custom';

.mat-form-field {
  font-size: 14px;
}

.mat-headline {
  margin: 0px;
}

.error {
  min-height: 20px;
  color: #c62828;
  transition: opacity 180ms ease;
}

img {
  align-self: center;
  width: 54px;
  margin-right: 1rem;
}

.container {
  border-radius:8px;
  padding: 2.5rem;
  @include mat-elevation(2);
  min-width: 350px;
  background: white;
}