<div class="d-flex w-100 h-100 ai-center jc-center">
  <div class="d-flex-column container">
    <div class="d-flex-column ai-center jc-center">
      <img src="favicon.ico" />
      <h1 class="mat-headline mt-1">Travel Planner</h1>
    </div>
    <!-- <h1 class="mat-headline">Journey Planner</h1> -->
    <div class="vertical-spacer-2"></div>
    <mat-form-field *ngIf="signup" [@signup]="signup">
      <input matInput type="text" placeholder="name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="password" [(ngModel)]="pass">
    </mat-form-field>
    <mat-form-field *ngIf="signup" [@signup]="signup">
      <input matInput type="password" placeholder="confirm password" [(ngModel)]="confirmPass">
    </mat-form-field>
    <!-- <button mat-button>Cancel</button> -->
    <div class="vertical-spacer-2"></div>
    <div class="text-center error" [ngStyle]="{ 'opacity' : (error ? 1 : 0)  }"> {{ error }} </div>
    <div class="mt-1"></div>

    <button mat-raised-button color="primary" (click)="loginOrSignup()">{{ signup ? 'Sign Up' : 'Login' }}</button>
    <div class="mt-1"></div>
    <button mat-button (click)="toggleSignUp()">{{ !signup ? 'Sign Up' : 'Cancel' }}</button>

  </div>
</div>