/* Custom overlays built using base styles */

.site-header {
  align-items: center;
  width: 280px;
  transition: transform 500ms ease;

  img {
    width: 100%;

  }

  &.translate-top {
    transform: translateY(-110%);
  }
}

.hint {
  right: 16px;
  font-size: 12px;
}

.big-fuck-off-header {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;

}

/* Base Styles */
.overlay-top {
  top: 16px;

  margin: 0 auto;
  left: 0;
  right: 0;
}

.app-overlay{
  position: absolute;
  transition: transform 300ms ease;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  @include mat-elevation(2);
}

.overlay-bottom {
  bottom: 16px;
}

.translate-right {
  transform: translateX(150%);
}

.translate-left {
  transform: translateX(-150%);
}

.translate-top {
  transform: translateY(-150%);
}

.translate-bottom {
  transform: translateY(150%);
}

.info-backdrop {
  background-color: rgba($color: black, $alpha: 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-panel {
  border-radius: 5px;
  top: 36px;
  left: 36px;
  right:36px;
  bottom: 36px;

}