.poi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  background: white;
  overflow: hidden;
  cursor: pointer;
  transition: border-radius 60ms ease, height 60ms ease-in, width 60ms ease-in, padding 60ms ease, opacity 300ms ease;
  @include mat-elevation(1);
  //@include mat-elevation-transition;
  .poi-text {
    overflow: hidden;
  }
}

.poi-overlay.with-icon {
  $d: 24px;
  // padding: 2px;
  border-radius: 50%;
  width: $d;
  height: $d;

  img {
    width: $d;
    height: $d;
  }

  .poi-text {
    width: 120px;
    font-weight: 500;
  }

  
  &:hover {
    padding: 4px;
    border-radius: 4px;
    width: 152px;
    height: 36px;
    z-index: 2000;

  }
}

.poi-overlay.with-thumbnail {
  $h: 150px;
  padding: 2px;
  border-radius: 30%;
  @include mat-elevation(3);


  .poi-text {
    width: 0px;
    height: 24px;
    transition: height 150ms ease-in, width 150ms ease-in;
  }
  
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition:  border-radius 150ms ease, height 150ms ease-in, width 150ms ease-in;
  }
  
  &:hover {
    z-index: 2000;
    padding: 8px;
    border-radius: 2px;

    .poi-text {
      margin-left: 16px;
      width: 250px;
      height: $h;
    }
  
    img {
      width: $h;
      height: $h;
      border-radius: 2px;

    }
  }
}