.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}

.vertical-spacer-2 {
  height: 2rem;
}

.flex-spacer {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}
 
.ai-center{
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.mt-1 {
  margin-top: 1rem !important;
}