<mat-sidenav-container class="example-container">
    <mat-sidenav #sidebar mode="side">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-map-editor></app-map-editor>
    </mat-sidenav-content>
  </mat-sidenav-container>